Partial Sandbox/force-app/main/default/flows/Tracking_Number_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_Package_For_Refund_Approval</name>
        <label>Submit Package For Refund Approval</label>
        <locationX>1232</locationX>
        <locationY>557</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Package_From_Tracking_Number.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Check_if_Null_Package_Found</name>
        <label>Check if Null Package Found</label>
        <locationX>524</locationX>
        <locationY>298</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Package_From_Tracking_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Package</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Missing_Package</name>
        <label>Missing Package?</label>
        <locationX>747</locationX>
        <locationY>297</locationY>
        <defaultConnector>
            <targetReference>Package_Information_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Package_is_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Package_From_Tracking_Number.Shipping_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MissingVariable</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Package_Information</targetReference>
            </connector>
            <label>Package is Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submit_for_Refund_Checkd</name>
        <label>Submit for Refund?</label>
        <locationX>1010</locationX>
        <locationY>556</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Submit_for_Refund</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Package_For_Refund_Approval</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Tracking Number Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Tracking Number Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Package_From_Tracking_Number</name>
        <label>Package From Tracking Number</label>
        <locationX>222</locationX>
        <locationY>299</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Null_Package_Found</targetReference>
        </connector>
        <filters>
            <field>Tracking_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Tracking_Number</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Package__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error</label>
        <locationX>530</locationX>
        <locationY>71</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Text</name>
            <fieldText>&lt;p&gt;Error: We Are Unable to Find Package. Please Retry Entering your Tracking Code and researching for your package by going back or finish to end.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_Tracking_Number</name>
        <label>Input Tracking Number</label>
        <locationX>189</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Package_From_Tracking_Number</targetReference>
        </connector>
        <fields>
            <name>Tracking_Number</name>
            <dataType>String</dataType>
            <fieldText>Tracking Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Package_Information</name>
        <label>Package Information</label>
        <locationX>762</locationX>
        <locationY>547</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Submit_for_Refund_Checkd</targetReference>
        </connector>
        <fields>
            <name>Package_ID</name>
            <fieldText>&lt;p&gt;Package Number: {!Package_From_Tracking_Number.Id}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Package_Status</name>
            <fieldText>&lt;p&gt;Shipping Status: {!Package_From_Tracking_Number.Shipping_Status__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Last_Location</name>
            <fieldText>&lt;p&gt;Last Known Location: {!Package_From_Tracking_Number.Package_Location__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Insurance_Ammount</name>
            <fieldText>&lt;p&gt;Insurance Cost: {!Package_From_Tracking_Number.Value__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Submit_for_Refund</name>
            <dataType>Boolean</dataType>
            <fieldText>Submit for Refund?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Package_Information_0</name>
        <label>Package Information</label>
        <locationX>947</locationX>
        <locationY>142</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Package_ID_0</name>
            <fieldText>&lt;p&gt;Package Number: {!Package_From_Tracking_Number.Id}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Package_Status_0</name>
            <fieldText>&lt;p&gt;Shipping Status: {!Package_From_Tracking_Number.Shipping_Status__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Location</name>
            <fieldText>&lt;p&gt;Location: {!Package_From_Tracking_Number.Package_Location__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Input_Tracking_Number</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Value for Checking if Null Package Found</description>
        <name>ErrorValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MissingVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Missing</stringValue>
        </value>
    </variables>
</Flow>
